{% if full_product == null %}
  {{ product.title }}
{% else %}
<div>
    <span data-behavior="variable-product_title" data-variant_id='{{product.id}}'>
      {% assign downcase_title = product.title | downcase %}

        {{full_product.title}}

    </span>
  </div>
  <div>
    <span data-behavior="variable-product_title" data-variant_id='{{product.id}}'>
      {% assign downcase_title = product.title | downcase %}

        {% if collections[settingCollection].title %} {{ collections[settingCollection].title }} {% endif %} {{product.option1 | replace: " ", "&nbsp;"}}

    </span>
  </div>

{% endif %}
